.header {
  background: red;
}

.header .header-top {
  background: #f4f4f4;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header .header-top .header-top-wrapper {
  width: 100%;
}

.header .header-top .header-search {
  float: left;
  width: 33.33%;
  padding-top: 20px;
}

.header .header-top .brand {
  text-align: center;
  float: left;
  width: 33.33%;
}

.header .header-top .user-info {
  float: right;
  width: 33.33%;
  padding-top: 20px;
}

.header .header-nav {
  background: white;
}

.banner {
  background: #ade1c5;
  width: 100%;
}

.main-body {
  width: 100%;
}

.body-wrapper {
  padding-top: 33px;
  padding-bottom: 33px;
}

.main-body .body-nav {
  width: 100%;
  background-image: url('../images/border.png');
  background-repeat: repeat-x;
  background-position: bottom;
  line-height: 62px;
}

.body-nav .nav-links {
  float: left;
  width: 50%;
}

.body-nav .search {
  float: right;
  text-align: right;
  width: 50%;
}

.body-content {
  height: 300px;
}

.body-feature .price {
  width: 50%;
  float: left;
}

.body-feature .price .price-label {
  width: 95%;
  float: left;
}

.body-feature .price .vertical-text {
  width: 5%;
  float: right;
}

.body-feature .feature-wrapper {
  width: 50%;
  float: left;
  background: #ade1c5;
}

.feature-wrapper .feature {
  padding: 50px;
}

.feature-wrapper .description {
  width: 50%;
  padding: 30px 0;
}

.footer-content {
  padding-top: 63px;
  padding-bottom: 63px;
}

.footer-content .footer-brand {
  float: left;
  width: 33.33%;
}

.footer-brand img {
  padding: 20px 0;
}

.footer-content .footer-links {
  float: left;
  width: 33.33%;
}

.footer-content .instagram {
  float: left;
  width: 33.33%;
}

.footer .service {
  width: 100%;
}

.footer-end {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.footer-end .copyright {
  float: left;
  width: 50%;
}

.footer-end .payment-options {
  float: right;
  text-align: right;
}

.payment-options .payment-gateways,
.payment-options .secure {
  float: left;
}
